{% extends 'country_city_base.html' %}

{% block content %}
  <div class="col-md-6">
      <div><h4>Cities</h4></div>
      <div>
         {% block create_button %}
           {% if g.user %}
             <div>
                <a href="{{ url_for('country_city.create', id=g.id) }}" class="btn btn-default">Add city</a>
             </div>
           {% endif %}
         {% endblock %}
        {% block create %}{% endblock %}
        {% for city in cities %}
            <div class="data_tab">
              <p><h4>{{city['name']}}</h4></p>
              {% if city['description'] %}
                <p>{{city['description']}}</p>
              {% endif %}
              {% if g.user %}
		<span class="glyphicon glyphicon-pencil"></span>
		<span class="glyphicon glyphicon-trash"></span>
	      {% endif %}
            </div>
        {% endfor %}
      </div>
  </div>
{% endblock %}
