{% extends 'country_city_base.html' %}
    {% block update %}
      <div class="content">
        <form method="post">
          <label for="name">Name</label>
          <input name="name" id="name" value="{{city_update['name']}}" required>
          <label for="description">Description</label>
          <textarea name="description" id="description">
            {% if city_update['description'] %}
              {{city_update['description']}}
            {% endif %}
          </textarea>
          <span>
            <input type="submit" value="Save" class="btn btn-default">
            <a href="{{url_for('country_city.index',
             id_country=g.active_country_id)}}"
              class="btn btn-default">Cancel</a>
          </span>
        </form>
      </div>
    {% endblock %}
